* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-image: url(developer.jpg);
    color: #333;
    line-height: 1.6;
    padding: 20px;
    margin: 0px;
    padding: 0px;
}
header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
}
nav {
    display: block;
    unicode-bidi: isolate;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}
nav ul li a:hover {
    background-color: red;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
li {
    display: list-item;
    unicode-bidi: isolate;
    list-style: none;
}
main {
    margin-top: 20px;
    color: #f4f4f4;
}
ul li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: auto !important;
}
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: #f4f4f4;
}